@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
header{
    width: 100%;
}

#bar{
    width: 100vw;
    display: flex;
    margin: auto;
    background-color: #50504b;
}

#bar>div{
    height: 30px;
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    word-spacing: 3px;

}

#navbar{
    height: 120px;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid #afafaf;
}

#navbar>div{
    width: 20%;
}

.menu {
    font-size: 22px;
    align-self: center;
    /* border: 1px solid red; */
}

.menu-items .redish{
    color: red;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 160px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 87%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: +1000;
  }
 
  .popup li{
    margin: 30px 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }

  .popup li a{
    text-decoration: none;
    color: #000;
  }

  #firstLi{
    margin-top: 60px;
  }
 
  .popup .close {
    position: absolute;
    /* top: 20px; */
    /* right: 30px; */
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  .insidePopup{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .insidePopup img{
    width: 600px;
  }
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }



.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    /* border: 2px solid red; */
    
}
.icons a{
    text-decoration: none;
    color: #000;
}

.icons {
    font-size: 25px;
    align-self: center;
}
.icons span{
    font-size: 16px;
    margin-left: 10px;
    word-spacing: 4px;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

#navbar i {
    color: #474747;
}

.main-imgs{
    z-index: -1;
}

.main-imgs img {
    width: 100%;
    margin: auto;
    height: 450px;
    /* border-radius: 20px; */
    z-index: -10;
}

.slick-dots li button:before {
    font-size: 15px;
    line-height: 30px;
}


.slick-prev:before,
.slick-next:before {
    color: #000;
}

header .slick-prev{
    visibility: hidden;
}
header .slick-next{
    visibility: hidden;
}






.shipmentForm{
    width: 450px;
    height: 500px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin:50px auto;
    margin-bottom: 200px;
    text-align: center;
    border: 1px solid #474747 ;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    z-index: -500;
}

.headForm{
    width: 100%;
    height: 30%;
    /* background-color: #06D85F; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid #474747 ;
    font-family: 'Montserrat', sans-serif;
    
}
.headForm h2{
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 5px;
    word-spacing: 6px;
    letter-spacing: 1px;
}

.shipmentForm h3{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 15px;
    word-spacing: 4px;
    letter-spacing: 1px;
}
.shipmentForm>form{
    z-index: -950;
}

.shipmentForm input{
    width: 60%;
    padding: 20px;
    /* margin: auto; */
    margin: 0 auto; 
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 2px;
    opacity: 0.8; 
    z-index: -100;
}

.shipmentForm h4{
    margin-top: 20px;
    margin-bottom: 10px;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-size: 15px;
}
.shipmentForm input[type="email"]{
    margin-bottom: 40px;
    display: block;
    z-index: -230;
}
.shipmentForm button{
    padding: 10px 15px;
    margin: auto;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    opacity: 0.9;
    z-index: -900;
}











footer {
    margin-top: 40px;
    border-top: 0.5px solid #afafaf;
}

.footer {
    width: 85vw;
    display: flex;
    margin: auto;
    margin-top: 80px;
    justify-content: center;
    /* border: 1px solid red; */
}

.footer>div {
    width: 30%;
    display: flex;
    /* margin: auto; */
    /* padding-left: 20px; */
    margin: 0 20px;
    flex-direction: column;
    /* border: 1px solid black; */
}

.footer a {
    text-decoration: none;
    color: #000;
    opacity: 0.9;
}

.footer>div h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: bolder;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: left;
    /* line-height: 20px; */
    margin-bottom: 20px;
}

.footer>div>a>h4 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: left;
    line-height: 20px;
    margin-bottom: 20px;
}

.example>input {
    font-size: 16px;
    padding: 15px 20px;
    border: none;
}

.example>input[type="email"] {
    border-bottom: 2px solid #000;
    margin-right: 20px;
}

.example>input[type="button"] {
    background-color: #000;
    color: #fff;
    opacity: 0.75;
    /* margin-right: 20px; */
}

.footerThree>button {
    width: 50%;
    margin-top: 20px;
    padding: 15px 0;
    font-size: 16px;
    border: none;
    background-color: #9d88ce;
    color: #fff;
    opacity: 0.8;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icons-logo {
    width: 30%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    padding: 0 60px;
}

.footer-icons>h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 900;
    margin: 25px 0;
}

.footerThree>p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    opacity: 0.8;
}



/* .slick-slide{
    margin: 0 20px;
} */